<a href="https://colab.research.google.com/github/piaseckazaneta/data-science-bootcamp/blob/main/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Podstawowe struktury danych: pd.Series i pd.DataFrame

In [1]:
import pandas as pd
pd.__version__

'2.0.3'

pd.Series

In [4]:
s = pd.Series(data = [3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
# Po wyświetleniu widać, że do każego elementu listy mamy dodany indeks, zaczynający się od 0

In [6]:
# Można indeksy zdefiniować samemu oraz dodać nazwę obiektu, np:

In [8]:
s = pd.Series(data = [3, 2, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

Wstawianie braków danych - skorzystamy z biblioteki numpy, żeby wstawić NAN

In [2]:
import numpy as np

In [10]:
s = pd.Series(data = [3, np.nan, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [11]:
# !!!! Warto zauważyć, że w przypadku, gdy brakuje nam danych warto wstawić NAN (a nie dowolną wartość np. 0), bo wtedy ta wartość (NaN) nie jest brana pod uwagę do obliczeń

In [14]:
# Series z wartościami logicznymi
s = pd.Series(data = [True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [15]:
# Obiekt Series, który będzie miał za indeks DATY

In [3]:
s = pd.Series(data = np.arange(10,20), index=(pd.date_range(start='20200101', periods=10)))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
# Freq: D - częstotliwość D (dzień) - wstawiliśmy perdiods 10