<a href="https://colab.research.google.com/github/piaseckazaneta/data-science-bootcamp/blob/main/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Podstawowe struktury danych: pd.Series i pd.DataFrame

In [ ]:
import pandas as pd
pd.__version__

'2.0.3'

pd.Series

In [ ]:
s = pd.Series(data = [3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
# Po wyświetleniu widać, że do każego elementu listy mamy dodany indeks, zaczynający się od 0

In [ ]:
# Można indeksy zdefiniować samemu oraz dodać nazwę obiektu, np:

In [ ]:
s = pd.Series(data = [3, 2, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

Wstawianie braków danych - skorzystamy z biblioteki numpy, żeby wstawić NAN

In [ ]:
import numpy as np

In [ ]:
s = pd.Series(data = [3, np.nan, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
# !!!! Warto zauważyć, że w przypadku, gdy brakuje nam danych warto wstawić NAN (a nie dowolną wartość np. 0), bo wtedy ta wartość (NaN) nie jest brana pod uwagę do obliczeń

In [ ]:
# Series z wartościami logicznymi
s = pd.Series(data = [True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
# Obiekt Series, który będzie miał za indeks DATY

In [ ]:
s = pd.Series(data = np.arange(10,20), index=(pd.date_range(start='20200101', periods=10)))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
# Freq: D - częstotliwość D (dzień) - wstawiliśmy perdiods 10

In [ ]:
s.index # wyświetlenie indeksów daszych obiektów

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list(s.index) # wyświetlenie indeksów jako listy (konwersja na listę)

[Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-02 00:00:00'),
 Timestamp('2020-01-03 00:00:00'),
 Timestamp('2020-01-04 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2020-01-07 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2020-01-10 00:00:00')]

In [ ]:
s.values # wyświetlanie wartości obiektów

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [16]:
# W Series mamy utworzony słownik ze spółkami i cenami w dolarach za akcję
price = pd.Series(data = {'Apple':200, 'CD Projekt': 60, 'Amazon': 1900}) # Series ze słownikiem
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [19]:
# Chcemy dostać cenę notować spółki CD Projekt
price['CD Projekt']

60

In [20]:
price[1] #można też podać nr indeksu, jeśli jesteśmy w stanie wskazać

60

In [23]:
price.count() #funckja count zlicza, ile mamy elementów w obiekcie Series

3

In [25]:
price.value_counts() #bardzo użyteczna funkcja, potrafi znaleźć rozkład naszych danych / ile razy występuje jakaś wartość / np. do budowania histogramu

200     1
60      1
1900    1
Name: count, dtype: int64

In [26]:
price.sum() #sumuje wartości

2160

In [27]:
price.min()

60

In [28]:
price.max()

1900

In [30]:
price.describe() #funkcja pokazuje statystyki zbiorczo

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [31]:
# Co jeśli mamy braki w danych?
# Przykład
price = pd.Series(data = {'Apple':200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan}) # Series ze słownikiem
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [32]:
price.count() #funckja count zliczy nam tylko dane, które są / nie zliczy NAN - braków danych

3

In [33]:
price.value_counts(dropna=False) # ustawienie dropna=False spowoduje, że będziemy mieli zliczone NAN i dowiemy się, ile jest elementów z brakim danych

200.0     1
60.0      1
1900.0    1
NaN       1
Name: count, dtype: int64

In [36]:
price.nlargest(2) #wybierzmy 2 najdroższe spółki / domyślnie nie zwraca NAN

Amazon    1900.0
Apple      200.0
dtype: float64

In [35]:
price.nsmallest(2) #wybierzmy 2 najtańsze spółki / domyślnie nie zwraca NAN

CD Projekt     60.0
Apple         200.0
dtype: float64

In [37]:
price.rank() #pozwala uporządkować wartości w rankingu

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [39]:
price.sort_values() #sortuje wartości - domyśłnie od najniższj do najwyzszej

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64